body {
  background-color: #0f0919;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.header {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}
div.header {
  font-size: 5em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  height: 1em;
}
p#header {
  margin-top: 0em;
  font-size: 1.5em;
  margin-right: 13.5em;
  height: 2em;
}
p.viiva {
  border-bottom: 0.25em solid #fff;
}
.aika {
  text-align: center;
}
.time {
  font-size: 5em;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
#starttimerbtn,
#pausetimerbtn,
#resettimerbtn {
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  size: 30px;
  padding: 1em 2em;
  color: #fff;
  background-color: #0f0919;
  font-size: 1.5em;
}
#starttimerbtn:hover, #pausetimerbtn:hover,#resettimerbtn:hover {
  background-color: #fff;
  color: #0f0919;
}

/*Test*/

